@font-face {
	font-family: courier prime;
	src: url('/asset/font/CourierPrime-Regular.ttf');
}

@font-face {
	font-family: courier prime;
	font-style: italic;
	src: url('/asset/font/CourierPrime-Italic.ttf');
}

@font-face {
	font-family: courier prime;
	font-weight: bold;
	src: url('/asset/font/CourierPrime-Bold.ttf');
}

@font-face {
	font-family: courier prime;
	font-style: italic;
	font-weight: bold;
	src: url('/asset/font/CourierPrime-BoldItalic.ttf');
}

@font-face {
	font-family: jinkai;
	src: url('/asset/font/jinkai.ttf');
}

@font-face {
	font-family: klee one;
	src: url('/asset/font/KleeOne-Regular.ttf');
}

@font-face {
	font-family: klee one semibold;
	src: url('/asset/font/KleeOne-SemiBold.ttf');
}

@font-face {
	font-family: lexend;
	src: url('/asset/font/Lexend.ttf');
}

:root {
	--nsa: #F01ACE;
	--nsa-bg: #fbf3fa;
	--nsa-text: #41282f;
	--nsa-select: #F561DC;
	--sc: #1A7CF0;
	--sc-bg: #f0eff8;
	--sc-text: #2a273d;
	--sc-select: #62A3F1;
	--color: #000;
	--bg-color: #fff;
	--select-color: #000;
	--main: var(--sc);
}

body {
	background-color: var(--bg-color);
	color: var(--color);
	font-family: lexend;
	font-size: 28px;
	margin: 0;
}

#nav {
	position: fixed;
	right: 2rem;
	user-select: none;
}

#nav ul {
	list-style: none;
	margin: 0;
}

#nav ul li {
	margin: 1rem 0;
}

#fix-bauhinia {
	bottom: -8rem;
	filter: opacity(.3);
	left: -8rem;
	position: fixed;
	transform: rotate(45deg);
	width: 600px;
	z-index: -1;
}

#fix-starcorp {
	filter: opacity(.3);
	position: fixed;
	right: -8rem;
	top: -2rem;
	transform: rotate(-15deg);
	width: 600px;
	z-index: -1;
}

/* main page */

#main {
	margin: auto;
	max-width: 860px;
}

#title {
	color: var(--main);
	font-family: lexend;
}

/* docs */

.doc {
	hyphens: auto;
	margin: 4rem auto;
	min-height: 1130px;
	overflow: hidden;
	padding: 4rem;
}

.doc-content {
	z-index: 1;
}

.doc-content h1 {
	text-decoration: underline;
}

.doc-content p {
	text-indent: 2em;
	line-height: 1.5;
}

.doc-content .signature {
	margin-top: 4rem;
}

.doc-content .signature p {
	text-align: right;
	text-indent: 0;
}

.nsa {
	background-color: var(--nsa-bg);
	color: var(--nsa-text);
	display: flex;
	font-family: courier prime;
	justify-content: center;
}

.nsa *::selection {
	background-color: var(--nsa-select);
	color: var(--select-color);
}

.nsa-stamp {
	align-self: center;
	filter: opacity(.1);
	position: absolute;
	z-index: 0;
}

.sc {
	background-color: var(--sc-bg);
	color: var(--sc-text);
	font-family: josefin sans;
}

.sc *::selection {
	background-color: var(--sc-select);
	color: var(--select-color);
}

.sc-head {
	align-items: center;
	border-bottom: 4px solid var(--sc);
	display: flex;
	gap: 2rem;
	justify-content: flex-end;
	padding: 0 1rem 1rem 1rem;
	user-select: none;
}

.sc-head > img {
	height: 40px;
}

.sc-head > p {
	color: var(--sc);
	font-weight: 600;
	letter-spacing: 3px;
	margin: 0;
	text-transform: uppercase;
}

/* name colors */

.name::selection {
	color: #fff;
}

.firefly {
	color: #E07250;
}

.hyrax {
	color: #333;
}

.kangaroo {
	color: #A36D1F;
}

.koala {
	color: #7F8587;
}

.pegasus {
	color: #21CEEA;
}

.bauhinia {
	color: var(--nsa);
}

.starcorp {
	color: var(--sc);
}