---
layout: layout/layout.liquid
title: Settings
---

<div id="settings">
	<div class="setting theme">
		<p class="label">Change theme color.</p>
		<div class="check"></div>
	</div>
	<div class="setting color">
		<p class="label">Color in people's names (will definitely make text harder to read, but it's fun).</p>
		<div class="check"></div>
	</div>
	<div class="setting highlight">
		<p class="label">Highlight important information (to make things easier).</p>
		<div class="check"></div>
	</div>
	<div class="setting q">
		<p class="label">Display a list of questions after each document (like a damn school assignment. Might make things easier.)</p>
		<div class="check"></div>
	</div>
</div>